{{ define "main" }}
<div class= "books-container" >
    <section class="books-list">
        <h2>Books List</h2>
        {{ range (where .Site.RegularPages "Type" "in" "books") }}
        <li><a href="{{.RelPermalink}}">{{ .Title }}</a></li>
        {{end}}
    </section>

    <section class="book">
        <h2>{{ .Title }}</h2>
        <img alt= "{{ .Params.alt_text }}" src= "{{ .Params.image }}" width="30%" height="50%">

        <p>Reading time: {{ math.Round (div (countwords .Content) 200.0) }} minutes.
        <span class= "tags" >
                {{ range .Params.tags }}
                <span><a class= "tag" href= "/tags/{{ . | urlize }}" >{{ . }}</a></span>
                {{ end }}
            </span>
        </p>
        <h3>{{ .Content }}</h3>

        <br>
        <h3>Comments</h3>
        {{ template "_internal/disqus.html" . }}

    </section>


</div>
{{ end }}